@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&family=Pushster&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__container--inverse {
  flex-direction: column-reverse;
}

.main-header {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.icon-phone {
  color: red;
  margin-right: 5px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.main-header__container--column {
  flex-direction: column;
}

.main-header__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #454546;
  text-shadow: 0 0 3px black;
}

.main-nav {
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.desplegar {
  visibility: visible;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu {
  list-style: none;
  width: 100%;
  top: 15px;
  left: -50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 5px;
}

.menu__link {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #959596;
}

.menu__item {
  padding: 10px 0;
}

.menu__item:first-child .menu__link {
  color: #ff954f;
}

.menu__link:hover {
  cursor: pointer;
  color: #ff954f;
}

.details,
.main-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.main-header__txt {
  color: #9999a5;
  letter-spacing: 3px;
}

.details {
  border-bottom: 1px solid #d7d7da;
}

.icon-menu {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 5px;
  color: #7f7f7f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.icon-menu,
.main-header__btn {
  display: block;
  border: 1px solid #d7d7da;
}

.main-options {
  position: relative;
}

.details__icon-user {
  font-size: 1.2rem;
  margin-right: 20px;
}

.main-header__btn {
  font-size: 1.5rem;
  padding: 10px 25px;
  color: #454556;
}

.main-options__icon-search,
.icon-menu,
.details__icon-user {
  cursor: pointer;
}

.main-options__icon-search {
  font-size: 1.3rem;
  position: absolute;
  left: 75%;
}

.main-header__input {
  display: none;
  padding: 10px;
}

/* * Slider del Menú */

/* TODO: SECTION */
.section-one {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0 3px 1px black;
  overflow: hidden;
  position: relative;
}

/* TODO: CONTAINER DEL SLIDER */
.container-slider {
  display: flex;
  width: 400%;
  margin-left: -100%;
}

.container-slider--Left {
  margin-left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.container-slider--Right {
  margin-left: -200%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* TODO: LOS HIJOS DEL SLIDER LOS ARTICLE */

.slider-item {
  width: 100%;
  position: relative;
  line-height: 50px;
}

.slider-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.container-img {
  height: 330px;
}

.slider-header {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: 25%;
  color: white;
}

.slider-header__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 5px;
  font-weight: 800;
}

.slider-header__title,
.slider-header__desc {
  margin: 0;
  opacity: 0.7;
}

.slider-header__desc {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

.btn-shop {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 2px solid orange;
  margin: 20px auto;
}

.btn-shop:hover {
  background: orange;
}

.btn-slider {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgb(218, 211, 211);
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.btn-slider:hover > .btn-slider__icon {
  outline: 1px solid black;
  background: black;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-slider__icon {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.btn-slider--left {
  top: 50%;
  left: 2%;
}

.btn-slider--right {
  top: 50%;
  right: 2%;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.container,
.product__title {
  text-align: center;
}
/* *Estilos de Productos */
.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}

.product__price {
  color: #ff4e00;
  font-weight: bold;
}

.product__icon {
  display: block;
  margin-top: 10px;
}

.product__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product:before {
  content: "New";
  background: #ff4e00;
  padding: 10px;
  position: absolute;
  color: white;
  width: 60px;
  top: 20px;
  right: 8px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.container-testimonials {
  text-align: center;
  color: #333;
  background: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
}

.container-testimonials__txt {
  color: #777;
}

.container-editor {
  margin-top: 50px;
  position: relative;
}

.editor__item {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.editor__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editor__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.editor__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: -80px;
  right: -40px;
  color: white;
  border: 1px solid white;
  padding: 20px;
  padding-bottom: 70px;
  padding-right: 55px;
  font-size: 1.2em;
  font-weight: bold;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.8s;
  -webkit-transition: clip-path 0.8s;
  -moz-transition: clip-path 0.8s;
  -ms-transition: clip-path 0.8s;
  -o-transition: clip-path 0.8s;
  text-align: center;
}

.editor__item:hover .editor__circle {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  clip-path: circle(50% at 50% 50%);
  background: rgba(255, 255, 255, 0.4);
}
/* * TIPS */
.container-tips {
  margin-top: 25px;
}
.tip__txt {
  padding-bottom: 15px;
}

.tip {
  height: 210px;
}

.tip i {
  font-size: 1.5em;
}

.container-tips {
  text-align: center;
}

.btn-shop--black {
  color: black;
}

.main-footer {
  background: #151515;
  color: white;
  padding: 30px 20px;
}

.footer__title {
  border-bottom: 1px dotted #555;
  color: white;
  padding: 30px 20px;
}

.footer__txt,
.footer__link {
  color: #555;
}

.footer__link {
  display: block;
  padding: 10px;
}

.footer__input {
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}

.copy {
  color: #555;
}
.icon {
  display: none;
}

/* * STYLE PARA TABLET */

@media screen and (min-width: 768px) {
  .container-img {
    height: 400px;
  }

  .editor__item {
    height: 250px;
  }
}

/* * STYLE PARA WEB*/
@media screen and (min-width: 1024px) {
  .main-header {
    margin-bottom: 10px;
  }

  .container-img {
    height: 500px;
  }

  .main-desc {
    display: flex;
  }

  .main-header__container--inverse {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 80%;
  }

  .main-header__container--column {
    width: 20%;
  }

  .details {
    border-bottom: none;
  }

  .main-header__title {
    border-bottom: 2px solid #d7d7da;
    font-size: 5em;
    width: 70%;
    margin: 0 40px;
  }

  .texts {
    width: 30%;
    text-align: center;
  }

  .icon-menu {
    display: none;
  }

  .main-options {
    display: none;
  }

  .main-nav {
    opacity: 1;
    visibility: visible;
    height: 60px;
    width: 50%;
    clip-path: none;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .icon {
    display: inline;
    font-size: 2em;
    margin: auto;
  }

  .icon:hover {
    cursor: pointer;
  }
  .container-products {
    grid-template-columns: repeat(4, 1fr);
  }

  .container-testimonials {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-testimonials__title {
    font-size: 3em;
  }
  .container-testimonials__title,
  .container-testimonials__sub-title {
    margin: 10px 0;
  }

  .container-testimonials__sub-title {
    font-size: 2em;
  }

  .container-testimonials__txt {
    font-size: 1.2em;
  }

  .editor__item {
    height: 400px;
  }
  .container-tips {
    display: flex;
    gap: 80px;
  }

  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .footer__section--botton {
    grid-column: 1/5;
    text-align: center;
    border-top: 2px solid #292828;
    padding-top: 20px;
  }

  .main__title {
    font-size: 3em;
  }
}
